<div class='wrap'>
  <div class='section'>
    <div class='card'>
      <div class='card_lay'>
        <div class="card_org {{card_style}}">
          <div class="card_mol {{card_imageArea}}">
            <div class="card_atm {{card_image}}">
              <img src="{{image}}" class='img' alt='...' />
            </div>
          </div>

          <div class="card_mol {{card_textArea}}">
            <h3 class="card_atm head_3 {{cardTitle}}">
              {{!-- {{cardTitle_text}}--}}
              {{_config.project.title}}
            </h3>

            <p class="card_atm {{cardText}} tx-xs">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis aut earum neque quidem laborum id similique dolores aspernatur officia totam.
            <br>
            min-width: 320px / max-width: 640px
            </p>
            {{!-- BUtton --}}
            <div class="{{class}}_mol buttonArea {{ display }} mt-8">
            <button class='btn success normal'>
                <a href='#' class='btnSize-sm'>
                {{button}}
                </a>
            </button>
            </div>

          </div>

      </div>
    </div>
  </div>
</div>