<div class='wrap'>
  <div class='section'>
    <div class='card'>
      <div class='card_lay'>
        <div class="card_org {{card_style}}">
          <div class="card_mol {{card_imageArea}}">
            <div class="card_atm {{card_image}}">
              <img src="{{image}}" class='img' alt='...' />
            </div>
          </div>

          <div class="card_mol {{card_textArea}}">
            <h3 class="card_atm {{cardTitle}}">
              {{!-- {{cardTitle_text}}--}}
              {{_config.project.title}}
            </h3>

            <p class="card_atm {{cardText}}"></p>
            dummy
            </p>
            <a href='#' class='btn btn-primary'>
              Go somewhere
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>