<div class='wrap'>
  <div class='section'>
    <div class="{{class}}_lay">
      <div class="{{class}}_org {{ variation }}">
        {{!-- Title --}}
        <div class="{{class}}_mol titleArea">
          <h{{ head }} class="{{class}}_title {{ heading }}">
            {{ _config.dummy.title }}
          </h{{ head }}>
        </div>

        {{!-- Text --}}
        <div class="{{class}}_mol textArea">
          <p class="{{class}}_text">
            {{ _config.dummy.text }}
          </p>
        </div>

        {{!-- BUtton --}}
        <div class="{{class}}_mol buttonArea {{ display }} mt-8">
          <button class='btn success normal'>
            <a href='#' class='btnSize-sm'>
              {{button}}
            </a>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>